# Added by cargo

/target

.vscode/
target/
build/
_build/
builddir/
build-dir/
data/dev.bragefuglseth.Fretboard.metainfo.xml.in
data/resources/dev.bragefuglseth.Fretboard.metainfo.xml
src/config.rs
.flatpak/
vendor
.flatpak-builder
.cargo
/subprojects/blueprint-compiler
