.debug {
  outline: 2px solid green;
}

barre-spin button {
  border-radius: 50%;
  background: transparent;
}

barre-spin button:hover {
  background: rgba(153, 153, 153, 0.3);
}

barre-spin label {
  font-size: 2rem;
  font-weight: bold;
}

chord-diagram-toggle button, .fretboard-chord-diagram-top-toggle button{
  border-radius: 50%;
  padding: 0;
  transition-duration: 150ms;
}

chord-diagram-toggle button:checked {
  background: @accent_bg_color;
}

chord-diagram-toggle button:hover {
  background: rgba(153, 153, 153, 0.3);
}

chord-diagram-toggle button:checked:hover {
  background: @accent_bg_color;
}

.fretboard-chord-diagram-top-toggle button:checked{
  background: transparent;
  box-shadow: none;
}

.fretboard-chord-diagram-top-toggle, .fretboard-chord-diagram-top-toggle image {
  color: rgba(153, 153, 153, 0.4);
}

.fretboard-chord-diagram-top-toggle.open, .fretboard-chord-diagram-top-toggle image.open {
  color: @accent_bg_color;
}

.fretboard-chord-diagram-top-toggle button:hover {
  background: rgba(153, 153, 153, 0.3);
}

.fretboard-chord-name-entry entry {
  font-size: 1.8rem;
  padding: 6px;
  font-weight: bold;
  border-radius: 12px;
}

.fretboard-chord-name-entry entry placeholder {
  color: rgba(125, 125, 125, 0.6);
}

.fretboard-chord-name-entry button image {
  opacity: 0.5;
}

.fretboard-chord-preview-dot {
  background: transparent;
  border-radius: 50%;
}

.fretboard-chord-preview-dot.active {
  background: @accent_bg_color;
} 
